{% extends "basic/layout.html" %}

{%- block extrahead %}
<link rel="alternate" type="application/atom+xml" href="{{ atom_link }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
{% endblock %}

{%- block header %}
<div {% if pagename %} class="{{ pagename|replace("/", " ") }}"{% endif %}>
<div id="header">
    <a class="home" href="{{ pathto("index") }}">{{ docstitle }}</a>
    <hr/>
    <ul id="navigation">
        {% if pathto("index") == "#" %}
        <li><span>{{ _("Home") }}</span></li>
        {% else %}
        <li><a href="{{ pathto("index") }}">{{ _("Home") }}</a></li>
        {% endif %}

        {% if pathto("about") == "#" %}
        <li><span>{{ _("About") }}</span></li>
        {% else %}
        <li><a href="{{ pathto("about") }}">{{ _("About") }}</a></li>
        {% endif %}

        {% if pathto("antares") == "#" %}
        <li><span>{{ _("Antares") }}</span></li>
        {% else %}
        <li><a href="{{ pathto("antares") }}">{{ _("Antares") }}</a></li>
        {% endif %}

        <li><a href="http://xsera.org/">{{ _("Xsera") }}</a></li>
        <li><a href="http://www.ambrosiasw.com/forums/index.php?showforum=88">{{ _("Forums") }}</a></li>
    </ul>
    <hr/>
    {{ relbar() }}
</div>
{% endblock %}

{%- block relbar1 %}
{% endblock %}

{%- block relbar2 %}
{% endblock %}

{%- block document %}
{% if "date" in meta %}
{{ meta["date"]|date_html }}
<div class="article">
{{ super() }}
</div>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
</div>
{% endblock %}
