@import url("basic.css");

html {
    background: white;
    font: normal 0.9em sans-serif;
}
body {
    position: relative;
    margin: 0;
}

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20em;
    padding: 1.5em;
    background: #eee;
    border-style: solid;
    border-width: 1em 0 0 0;
    outline: 1px solid rgba(0, 0, 0, 0.2);
}
#header .home {
    font-size: 3em;
    color: hsl(0, 0%, 30%);
    margin: 0 0.25em;
}
#navigation {
    display: block;
    padding: 0;
    margin: 0 0.375em 0.375em 0.375em;
}
#navigation li {
    display: block;
    padding: 0 0.375em;
}
#navigation li a,
#navigation li span {
    font-size: 1.25em;
    display: block;
}
hr {
    border: 1px solid hsl(0, 0%, 75%);
    border-width: 1px 0 0 0;
    margin: 0 0 0.375em 0;
}
.related ul {
    text-align: left;
}
.related li {
    white-space: nowrap;
}
.document, .footer {
    border-width: 0;
    border-style: solid;
    margin-left: 23em;
    padding: 1.5em;
}
.documentwrapper, .footer {
    max-width: 50em;
}
.document {
    border-top-width: 1em;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a[href^="http://"] {
    padding-right: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC) center right no-repeat;
}
a[href^="https://"] {
    padding-right: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeF6tjzsKg0AQhi09mimsFJLCzpNYCGKbK3gAtfUIljaCoKCCZIs8MMV2v+yCg8siWlh8zOtjhjEAEFmeIopDQtTrTJNEZIxhWysiNfULJFJjDzGnba/aBt4+wAuBzD+tg6a8SVkXf4GET96xmDxNzP39IvE/PPDtXIyVpYinv14A5F0laJ8oYFgAAAAASUVORK5CYII=) center right no-repeat;
}
a[href^="mailto:"] {
    padding-right: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRF////////iIqF9vb26urpycfDvb275eXj2djV+/v4srKy6efio6GcqKejsa6q8fDtVM9qIQAAAAF0Uk5TAEDm2GYAAABOSURBVHheBcExDkAwGIDRL43NpJOt6a9hMdVilP8gklqsHMJmt4qeyeI03oNSNkCrAIU/7YTWbwp0zz4rTXZHxF/9YA15HTG4+4NFRNofUBMMOBBNZngAAAAASUVORK5CYII=) center right no-repeat;
}
a[href$=".zip"] {
    padding-right: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAExJREFUeF5VyEEKwCAMAMH83o/0LT6kFHqQYqkevG1jIITs3kaQgn+A7A29ujnw5NKrsaPCrTegBBrRMzYeXkbGzsdkZRwsPWMUmEd+CkSgVeVp2OkAAAAASUVORK5CYII=) center right no-repeat;
}
a.image-reference {
    padding: 0;
    background: none;
}

.section {
    margin-bottom: 3em;
}
.section .section {
    margin-bottom: 2em;
}

.document {
    position: relative;
}

.article-date {
    float: left;
    position: relative;
    margin-right: 1em;
    background: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 50%);
    width: 5.75em;
    text-transform: uppercase;
}
.article-date .month-day {
    background: {{ theme_accentcolor }};
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2.125em;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    line-height: 1.25em;
    padding: 0.25em 0.5em;
}
.article-date .year,
.article-date .month,
.article-date .day,
.article-date .month-day {
    display: block;
}
.article-date .year {
    font-size: 1.5em;
    line-height: 1em;
    padding: 0.1em 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
    font-weight: normal;
    margin: 1em 0 0.25em 0;
    line-height: 1em;
    clear: both;
}
h1 {
    font-size: 2em;
    clear: none;
    margin-top: 0;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
p {
    line-height: 1.25em;
    text-align: justify;
}
ol, ul {
    text-align: justify;
}
.footer {
    text-align: center;
}
a.internal em {
    font-style: normal;
}

.image-reference .screenshot {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em;
}
.image-reference:nth-child(3n+1) .screenshot {
    margin-right: 0;
}

.highlight {
    padding: 0.5em;
    background: hsl(0, 0%, 90%) !important;
    border-left: 0.75em solid {{ theme_accentcolor }};
    margin: 1em;
}
pre {
    margin: 0;
}

@media (max-width: 50em) {
    #header {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
    }
    #header .border {
        border-width: 0 0 1px 0;
    }
    #header, .document, .footer {
        border-width: 0 0 0 1em;
    }
    #navigation li {
        display: inline;
        width: 20%;
    }
    #navigation li a,
    #navigation li span {
        display: inline;
    }
    .document, .footer {
        margin-left: 0;
    }
    .documentwrapper, .footer {
        max-width: none;
    }
}

@media (max-width: 28em) {
    #navigation li {
        display: block;
        width: 100%;
    }
    #navigation li a,
    #navigation li span {
        display: block;
    }
    .image-reference .screenshot,
    .image-reference:nth-child(3n+1) .screenshot {
        float: left;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 1em;
    }
    .image-reference:nth-child(2n+1) .screenshot {
        margin-right: 0;
    }
}

#header {
    border-color: hsl(300, 66%, 44%);
}
.document, .footer, .highlight {
    border-color: hsl(300, 66%, 66%);
}
a:link {
    color: hsl(300, 66%, 66%);
}
a:visited {
    color: hsl(300, 66%, 44%);
}

.antares #header {
    border-color: hsl(120, 25%, 30%);
}
.antares .document, .antares .footer, .antares .highlight {
    border-color: hsl(120, 25%, 45%);
}
.antares a:link {
    color: hsl(120, 25%, 45%);
}
.antares a:visited {
    color: hsl(120, 25%, 30%);
}
