// @import url("basic.css");

@mixin theme($color) {
    $dark: mix($color, black, 66.6666%);
    $darker: mix($color, black, 50%);
    $darkish: mix($color, black, 75%);
    #header .content {
        border-color: $dark;
    }
    nav {
        border-color: $dark;
    }
    .document,
    .footer,
    .highlight,
    .line-block,
    .literal-block,
    #contents,
    blockquote,
    tr:last-child td {
        border-color: $color;
    }
    th,
    a.headerlink:hover {
        background: $color;
    }
    a:link {
        color: $color;
        &[href^="http://"],
        &[href^="https://"] {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M5,1v1h-3v8h8v-3h1v3a1,1 0,0,1 -1,1h-8a1,1 0,0,1 -1,-1v-8a1,1 0,0,1 1,-1zm6,0v4h-1v-2.3l-5,5l-0.7,-0.7l5,-5h-2.3v-1z" fill="rgb(#{red($color)}, #{green($color)}, #{blue($color)})"/></svg>');
        }
        &[href^="mailto:"] {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10,2a1,1 0,0,1 1,1v6a1,1 0,0,1 -1,1h-8a1,1 0,0,1 -1,-1v-6a1,1 0,0,1 1,-1zm0,1l-4,3l-4,-3v1l4,3l4,-3z" fill="rgb(#{red($color)}, #{green($color)}, #{blue($color)})"/></svg>') center right no-repeat;
        }
        &[href$=".zip"] {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M7,1l3,3v6a1,1 0,0,1 -1,1h-6a1,1 0,0,1 -1,-1v-8a1,1 0,0,1 1,-1zm0,1h-2v3h-2l3,3l3,-3h-2zm-4,7v1h6v-1z" fill="rgb(#{red($color)}, #{green($color)}, #{blue($color)})"/></svg>') center right no-repeat;
        }
        &[href^="irc:"],
        &[href^="ircs:"] {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10,1a1,1 0,0,1 1,1v7a1,1 0,0,1 -1,1h-7l-2,2v-10a1,1 0,0,1 1,-1zm-1,2h-6v1h6zm0,2h-6v1h6zm-2,2h-4v1h4z" fill="rgb(#{red($color)}, #{green($color)}, #{blue($color)})"/></svg>') center right no-repeat;
        }
    }
    a:visited {
        color: $dark;
    }
    path.a {
        fill: $darker;
    }
    path.b {
        fill: $darkish;
    }
    path.c {
        fill: $color;
    }
}

html {
    background: white;
    font: normal 0.9em sans-serif;
}
body {
    margin: 0;
}

@include theme(hsl(0, 66%, 50%));
body.antares {
    @include theme(hsl(120, 25%, 45%));
}
body.plugins {
    @include theme(hsl(210, 66%, 50%));
}

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 23em;
    background: #eee;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    .content {
        margin: 0 -1px 0 0;
        padding: 0 1.5em;
        border-width: 0;
        border-top-width: 1em;
        border-style: solid;
    }
    .home {
        line-height: 0;
        display: block;
        text-align: center;
        color: hsl(0, 0%, 30%);
        svg {
            max-height: 192px;
            max-width: 192px;
        }
    }
}

nav {
    display: block;
    padding: 0.375em;
    border-style: solid;
    border-width: 0.125em 0;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: block;
        padding: 0 0.375em;
        a,
        span {
            font-size: 125%;
            display: block;
        }
    }
}

.related {
    ul {
        text-align: left;
    }
    li {
        white-space: nowrap;
    }
}

.document,
.footer {
    border-width: 0;
    border-style: solid;
    margin-left: 23em;
    padding: 1.5em;
}
.document {
    border-top-width: 1em;
}
.documentwrapper,
.footer {
    max-width: 50em;
}

a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &.internal em {
        font-style: normal;
    }
    &.headerlink {
        text-decoration: none;
        font-size: 75%;
        padding: 0 0.25em;
        margin: 0 0 0 0.25em;
        &:hover {
            color: white !important;
        }
    }

    &[href^="http://"],
    &[href^="https://"],
    &[href^="mailto:"],
    &[href$=".zip"],
    &[href^="irc:"],
    &[href^="ircs:"] {
        background: center right no-repeat;
        padding-right: 13px;
    }
    &[href^="http://arescentral.org/"],
    &[href^="http://staging.arescentral.org/"] {
        padding-right: 0;
        background: none;
    }

    &.image-reference {
        padding: 0;
        background: none;
    }
}

.splash {
    background: url(/_static/splash.png) no-repeat;
    background-position: center;
    height: 480px;
}

#contents {
    display: inline-block;
    ul {
        margin: 0;
        padding: 0;
        ul {
            margin: 0;
            padding: 0 0 0 1em;
        }
    }
    li {
        list-style: none;
    }
}
section, .section {
    margin-bottom: 3em;
    section, .section {
        margin-bottom: 2em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
    font-weight: normal;
    margin: 1em 0 0.25em 0;
    line-height: 1em;
    clear: both;
}
h1 {
    font-size: 200%;
    clear: none;
    margin-top: 0;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
p {
    line-height: 1.25em;
    text-align: justify;
}
p,
table {
    margin: 1em 0;
}
ol,
ul {
    text-align: justify;
}
.footer {
    clear: both;
    text-align: center;
}
.meta {
    margin: -0.5em 0 0 0;
    font-size: 90%;
    span {
        margin: 0 1em 0 0;
    }
}
tt {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 0.25em;
    border-radius: 2px;
}

.image-reference .screenshot {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em;
}
.image-reference:nth-child(3n+1) .screenshot {
    margin-right: 0;
}

.highlight,
.line-block,
.literal-block,
.admonition,
#contents,
blockquote {
    padding: 0;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0 0 0 0.75em;
    border-style: solid;
    margin: 1em;
}
.line-block {
    font: 100% monospace;
}
blockquote,
.line-block,
.admonition,
#contents {
    padding: 0.5em;
}
blockquote > *:first-child {
    margin-top: 0;
}
.admonition > *:last-child,
blockquote > *:last-child {
    margin-bottom: 0;
}
.admonition {
    border-color: hsl(210, 66%, 50%);
}
.admonition.warning,
.admonition.attention,
.admonition.caution,
.admonition.important {
    border-color: hsl(60, 75%, 50%);
}
.admonition.danger,
.admonition.error {
    border-color: hsl(0, 66%, 50%);
}
.admonition-title {
    float: left;
    margin: 0 0.5em 0 0;
    font-weight: bold;
}
.admonition-title:after {
    content: ":";
}
.admonition-title + p {
    margin-top: 0;
}
pre {
    font: 100% monospace;
    margin: 0;
    padding: 0.5em !important;
    overflow-x: auto;
}

table {
    border: 0;
    border-spacing: 0;
    border-collapse: 0;
    background: hsl(0, 0%, 90%);
}
td,
th {
    padding: 0.25em;
    border: 0;
}
td:first-child,
th:first-child {
    padding-left: 0.5em;
}
td:last-child,
th:last-child {
    padding-right: 0.5em;
}
th {
    text-align: left;
    color: white;
    font-weight: normal;
}
tr:nth-child(10n+1),
tr:nth-child(10n+2),
tr:nth-child(10n+3),
tr:nth-child(10n+4),
tr:nth-child(10n+5) {
    background: hsl(0, 0%, 95%);
}
tr:last-child td {
    border-style: solid;
    border-width: 0 0 0.25em 0;
    padding-bottom: 0.5em;
}

.footnote,
.footnote tr,
.footnote td,
.footnote th {
    background: transparent !important;
    border-width: 0 !important;
    text-align: justify;
}
.footnote {
    font-size: 90%;
    margin: 0;
}

.gray {
    color: rgb(224, 224, 224);
    background: rgb(112, 112, 112);
}
.orange {
    color: rgb(224, 112, 0);
    background: rgb(112, 56, 0);
}
.yellow {
    color: rgb(224, 224, 0);
    background: rgb(112, 112, 0);
}
.blue {
    color: rgb(0, 0, 224);
    background: rgb(0, 0, 112);
}
.green {
    color: rgb(0, 224, 0);
    background: rgb(0, 112, 0);
}
.purple {
    color: rgb(112, 0, 224);
    background: rgb(56, 0, 112);
}
.indigo {
    color: rgb(112, 112, 224);
    background: rgb(56, 56, 112);
}
.salmon {
    color: rgb(224, 112, 112);
    background: rgb(112, 56, 56);
}
.gold {
    color: rgb(224, 224, 112);
    background: rgb(112, 112, 56);
}
.aqua {
    color: rgb(0, 224, 224);
    background: rgb(0, 112, 112);
}
.pink {
    color: rgb(224, 0, 112);
    background: rgb(112, 0, 56);
}
.pale-green {
    color: rgb(112, 224, 112);
    background: rgb(56, 112, 56);
}
.pale-purple {
    color: rgb(224, 112, 224);
    background: rgb(112, 56, 112);
}
.sky-blue {
    color: rgb(0, 112, 224);
    background: rgb(0, 56, 112);
}
.tan {
    color: rgb(225, 220, 183);
    background: rgb(120, 117, 97);
}
.red {
    color: rgb(224, 0, 0);
    background: rgb(112, 0, 0);
}

@media (max-width: 60em) {
    .splash {
        background: url(/_static/splash-three-quarters.png) no-repeat;
        background-position: center;
        height: 360px;
    }
}

@media (max-width: 50em) {
    #header {
        position: inherit;
        top: 0;
        left: 0;
        width: auto;
        border-width: 0 0 1px 0;
        .content {
            border-width: 0 0 0 1em;
            margin: 0 0 -1px 0;
            padding: 1em 1em 1em 50%;
            position: relative;
        }
        .home {
            position: absolute;
            left: 0.5em;
            right: 50%;
            top: 0.5em;
            bottom: 0.5em;
            svg {
                height: 100%;
                max-width: 100%;
            }
        }
    }
    .document,
    .footer {
        border-width: 0 0 0 1em;
    }
    nav li {
        display: block;
        width: auto;
        a,
        span {
            display: block;
        }
    }
    .document,
    .footer {
        margin-left: 0;
    }
    .documentwrapper,
    .footer {
        max-width: none;
    }
    p,
    ol,
    ul {
        text-align: left;
    }
}

@media (max-width: 28em) {
    .image-reference .screenshot,
    .image-reference:nth-child(3n+1) .screenshot {
        float: left;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 1em;
    }
    .image-reference:nth-child(2n+1) .screenshot {
        margin-right: 0;
    }
    .splash {
        background: url(/_static/splash-half.png) no-repeat;
        background-position: center;
        height: 240px;
    }
}

.youtube-16x9 {
    padding-bottom: 56.25%;  /* inverse of 16:9 aspect ratio */
    position: relative;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
    }
}
